body {
  text-align: center;
  background-color: burlywood;
  font-size: larger;
}

.lang {
  margin-top: 15px;
  margin-bottom: 30px;
}

.main_field {
  padding: 20px;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: solid 2px black;
  border-radius: 15px;
  background-color: lightgrey;
  padding: 25px;
  text-align: left;
}

.main {
  margin-left: auto;
  margin-right: auto;
  background-color: lemonchiffon;
  padding: 25px;
  text-align: left;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 30px;
}

@media screen and (max-width: 600px) {
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
  }
}