body {
  text-align: center;
  background-color: burlywood;
}

.lang {
  margin-top: 15px;
  margin-bottom: 30px;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  border: solid 2px black;
  border-radius: 15px;
  background-color: lightgrey;
  padding: 5px;
  text-align: left;
}