body {
  text-align: center;
  background-color: burlywood;
  font-size: larger;
}

.lang {
  margin-top: 15px;
  margin-bottom: 30px;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  border: solid 2px black;
  border-radius: 15px;
  background-color: lightgrey;
  padding: 25px;
  text-align: left;
}

.main_field {
  padding: 20px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  background-color: lemonchiffon;
  padding: 25px;
  text-align: left;
}